<h1>Posts by <%= @user.user_name %></h1>

<% if @posts == [] %>
	<p><%= @user.user_name %> does not have posts yet</p>
<% end %>

<ul>
<% @posts.each do |post| %>
	<li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
<% end %>
</ul>